.searchBar {
    position: fixed;
    width: 100%;
    bottom: 50%;
    padding-inline: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.searchBar button {
    height: 56px;
}